/* =========================
   GLOBAL RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   ROOT VARIABLES
========================= */

:root {
    --black: #000000;
    --white: #ffffff;
}


/* =========================
   BASE
========================= */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}


/* =========================
   LAYOUT
========================= */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 160px 100px;
}


/* =========================
   NAVIGATION
========================= */

nav {
    position: fixed;
    top: 48px;
    left: 100px;
    right: 100px;
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: var(--black);
    position: relative;
}


/* Luxury hover underline */

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background: var(--black);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

nav a:hover::after {
    transform: scaleX(1);
}


/* =========================
   TYPOGRAPHY
========================= */

h1 {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}


/* =========================
   TEXT
========================= */

p {
    font-size: 15px;
    max-width: 460px;
    margin-bottom: 24px;
}


/* =========================
   SECTIONS
========================= */

.section {
    margin-bottom: 200px;
}


/* =========================
   EDITORIAL GRID
========================= */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
}

.grid-left {
    grid-column: 1;
}

.grid-right {
    grid-column: 2;
}


/* =========================
   EXPERIENCE
========================= */

.experience-item {
    margin-bottom: 56px;
}

.experience-item span {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}


/* =========================
   FOOTER
========================= */

footer {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    opacity: 0.4;
    margin-top: 240px;
}