* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
    background-color: #111;
}


/* NAVBAR */

header {
    position: fixed;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-weight: bold;
    letter-spacing: 3px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 14px;
    transition: 0.3s;
}

nav a:hover {
    color: #999;
}


/* HERO */

.hero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h3 {
    letter-spacing: 4px;
    font-size: 14px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn,
.btn-outline {
    padding: 12px 25px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.btn {
    background: white;
    color: black;
}

.btn:hover {
    background: #ccc;
}

.btn-outline {
    border: 1px solid white;
    color: white;
}

.btn-outline:hover {
    background: white;
    color: black;
}


/* SECTIONS */

.section {
    padding: 100px 20px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    max-width: 600px;
    margin: auto;
    color: #ccc;
}

.dark {
    background: #1a1a1a;
}


/* SKILLS */

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 30px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #333;
}


/* FOOTER */

footer {
    padding: 20px;
    background: #000;
    text-align: center;
    font-size: 14px;
    color: #777;
}